
/* Target the body background */
body {
    background: url('assets/css/Oligo.png') no-repeat center center fixed;
    background-size: cover;
}

/* Optionally, target other elements for consistency */
.page-content {
    background: transparent;
}
